.calendar-custom{
    background: white;
    padding: 10px;
    border-radius: 20px;
}

.glyphicon-time:before{
    padding-right: 10px;
    font-size: 20px;
}

.description,.location,.planner-type{
    display: block;
    margin: auto;
}

